/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.name-content{
    width: 10%;
    min-height:15px;
    float: left;
    margin: 0 5% 10px 10%;
    white-space: normal !important;
}

.textarea-content {
    width: 40%;
    float: left;
    margin: 0 5% 10px 5%;
    word-wrap: break-word;
}

.edit-btn {
    width: 5%;
    margin-right:5%;
    float: left;
}

.destroy-btn {
    width: 5%;
    margin-right:5%;
    float: left;
}

form input {
    display: block;
}
form textarea {
    width: 100%;
    max-width: 500px;
    display: block;
}

form div {
    margin: 0 auto 10px auto;
}

@media(max-width:767px) {
    .name-content{
        width: 20%;
        min-height:15px;
        float: left;
        margin: 0 5% 10px 5%;
        white-space: normal !important;
    }
    
    .textarea-content {
        width: 40%;
        float: left;
        margin: 0 5% 10px 5%;
        word-wrap: break-word;
    }

}